.Tip-calculator{
    padding:0px;
    display:flex;
    flex-align:center;
}
.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    display: none;
}

.error-message.show {
    display: block;
}